<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com"> -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com"> -->

    <!-- <link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet"> -->

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="dist/app.css">
    <title>Classic Shop</title>
  </head>
  <body>

      <!-- CONTENITORE di visualizzazione Di Vue -->
      <div id="root">

        <!-- HEADER -->
        <header>


          <!-- Header Top -->
          <div id="top">

            <div id="top-left">
              <i v-for= "element in elIcons" :class="element"></i>
            </div>

            <div id="top-right">
              <div v-for="element in elShopping" id="element">
                <i v-if="element ==='CART'" class="fas fa-shopping-cart" style="color:#2f3034; margin: 10px"></i>
                {{element}}
                <i v-if="element !== 'Shopping Cart'" class="fas fa-chevron-down"></i>
              </div>
            </div>

          </div>
          <!-- End Header Top -->


          <!-- Header Bottom -->
          <div id="bottom">

            <!-- Header bottom Wrap -->
            <div id="bottom-wrap">

              <div id="bottom-wrap-left">
                <img id="brand-logotype"src="img/images/classic_shop_logo1x.png" alt="">
              </div>


              <div id="bottom-wrap-right">
                <ul>
                  <div v-for="element in ul" class="">
                    <li>
                      <div class="upper-line">
                      </div>
                      {{element}}
                      <i v-if="element !== 'News'" class="fas fa-chevron-down"></i>
                    </li>
                  </div>
                  <div class="">
                    <li>
                      <button type="button" name="button">{{buttonShop}}</button>
                    </li>
                  </div>
                </ul>
                <i class="fas fa-search"></i>
              </div>

            </div>
            <!-- End Header bottom Wrap -->

          </div>
          <!-- End Header Bottom -->


          <!-- Jumbotron -->
          <div id="jumbotron">

            <div id="jumbotron-heading">
              <h2>Brand New Arrivals</h2>
              <h3>NEW COLLECTION FROM NEW YORK</h3>
              <div id="jumbotron-heading-button">
                <button type="button" name="button">VIEW ALL</button>
                <button type="button" name="button">LOOK BOOK</button>
              </div>
            </div>

          </div>
          <!-- End Jumbotron -->


        </header>
        <!-- END HEADER -->


        <!-- MAIN -->
        <main>

          <!-- Featured Products -->
          <div id="main-featured-products">

            <div id="main-featured-products-top">
              <div class="sx">
              </div>
              <div class="center">
                <div>
                  Featured Products
                  <p>Must have products from our top sellers</p>
                </div>
              </div>
              <div class="dx">
              </div>
            </div>

          </div>
          <!-- End Featured Products -->

        </main>
        <!-- END MAIN -->


        <!-- FOOTER -->
        <footer>


          <!-- Stripe a -->
          <div class="stripe-a">

            <!-- Wrap a -->
            <div class="stripe-a-wrap">

              <div class="stripe-a-wrap-box">

                  <!-- Contact -->
                  <div id="logo-footer">
                    <img src="img/images/classic_shop_logo_footer.png" alt="">
                  </div>
                  <div id="contact" v-for="element in objFooter.contact">
                    {{element}}
                  </div>
                  <div id="social-icon-footer">
                    <i v-for= "element in elIcons" :class="element"></i>
                  </div>
                  <!-- End Contact -->

              </div>

              <div  class="stripe-a-wrap-box">

                <!-- Title Top Rated Products-->
                <div class="title">
                    {{titleFooter[0]}}
                </div>
                <!-- End Title Top Rated Products-->

                  <!-- Top Rated Products -->
                  <div class="central" v-for="element in objFooter.topRatedProducts">
                    <span id="product-name">{{element.product}}</span><br>
                    <i v-for="i in element.vote" class="fas fa-star"></i><i v-for="i in (5 - element.vote)" class="far fa-star"></i> <br>
                   <span v-if="element.cost.length == 1">{{element.cost[0]}}</span>
                   <span v-else><del>{{element.cost[0]}}</del> <u>{{element.cost[1]}}</u> </span>
                   <img :src="element.picture" alt="">
                  </div>
                  <!-- End Top Rated Products -->

              </div>

              <div class="stripe-a-wrap-box">

                <!-- Title Recent Post-->
                <div class="title post">
                    {{titleFooter[1]}}
                </div>
                <!-- End Title Recent Post-->

                  <!-- Recent Post -->
                  <div id="recent-post" class="central" v-for="element in objFooter.recentPost">
                    <i class="fas fa-chevron-right"></i>{{element}}
                  </div>
                  <!-- End Recent Post -->

              </div>

              <div class="stripe-a-wrap-box">

                <!-- Title Tag-->
                <div class="title tag">
                    {{titleFooter[2]}}
                </div>
                <!-- End Title Tag-->

                  <!-- Tag -->
                  <div id="tag" v-for="element in objFooter.tag">
                    {{element}}
                  </div>
                  <!-- End Tag -->

              </div>

            </div>
            <!-- End Wrap a -->

          </div>
          <!-- End Stripe a -->


          <!-- Stripe b -->
          <div class="stripe-b">
            <div class="stripe-b-wrap">
              <div class="stripe-b-wrap-top">
                <div v-for="element in objFooter.copyright" id="copyright">
                  {{element}}
                </div>
              </div>
              <div class="stripe-b-wrap-bottom" v-for="element in objFooter.cards" id="cards">
                <img :src="element" alt="">
              </div>
            </div>
          </div>
          <!-- End Stripe b -->


        </footer>
        <!-- END FOOTER -->

      </div>
      <!-- END CONTENITORE di visualizzazione Di Vue -->

    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
