@import "reset";
@import "colors";

// body {
//   background-color: red;
// }

@mixin H-f-718-container {
  width: 718px;
}

@mixin H-o-482-container {
  width: 482px;
}

@mixin W-1169-container {
  width: 1169px;
  border: 1px solid black;
  margin: auto;
}

#root {

  header {
    border-top: 3.5px solid $Havelock-blue;

    #top {
      @include W-1169-container;
      height: 52px;
    }

    #bottom {
      @include W-1169-container;
      height: 106px;
    }

    #jumbotron {
      height: 652px;
      width: 100%;
      border: 1px solid black;
    }
  }
}
