@import "reset";
@import "colors";

@mixin H-f-718-container {
  width: 718px;
}

@mixin H-o-482-container {
  width: 482px;
}

@mixin W-1169-container {
  width: 1169px;
  // border: 1px solid black;
  margin: auto;
}

@mixin flex-column-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#root {

  header {
    border-top: 3.5px solid $Havelock-blue;

    #top {
      @include W-1169-container;
      @include flex-column-between;
      height: 52px;

      &-left {
        @include flex-column-between;
        width: 116px;
        height: 100%;
        border: 1px solid black;
        color: red;
      }

      &-right {
        @include flex-column-between;
        width: 425px;
        height: 100%;
        border: 1px solid black;
        color: red;
      }
    }

    #bottom {
      border-top: 1px solid #EAEAEA;

      &-wrap {
        @include W-1169-container;
        @include flex-column-between;
        height: 106px;

        &-left {
          @include flex-column-between;
          width: 160px;
          height: 100%;
          border: 1px solid black;
          color: red;
        }

        &-right {
          @include flex-column-between;
          width: 806px;
          height: 100%;
          border: 1px solid black;
          color: red;
        }
      }
    }

    #jumbotron {
      height: 652px;
      width: 100%;
      border: 1px solid black;
    }
  }
}
