@import "reset";
@import "colors";
@import "layout";
@import "brand-logotypes";
@import "background-pictures";
@import "fonts";
@import "fonts-size";
@import "button-style-basis";

@mixin custom-i {
  font-size: 9.5px;
  margin: 0 0 0 9px;
}

// CONTENITORE di TUTTO
#root {
  font-family: $primary-font;


  // HEADER
  header {
    border-top: 3px solid $Havelock-blue;

    // Header Top
    #top {
      @include W-1169-container;
      @include flex-column-between;
      height: 52px;

      &-left {
        @include flex-column-between;
        width: 116px;
        height: 100%;
        // border: 1px solid black;
        color: $Nevada;

        i {
          font-size: 14px;

          &:hover {
            color: $Edward;
          }

        }

      }

      &-right {
        @include flex-column;
        width: 425px;
        height: 100%;
        // border: 1px solid black;
        font-family: $secondary-font;
        font-size: $minor-font;
        color: $Nevada;

        div {
          width: 112px;
          height: 100%;
          border-right: 1px solid #EAEAEA;
          line-height: 52px;
          text-align: center;
          cursor: pointer;

          &:last-child {
            width: 201px;
            background-color: #fafafa;
            border: none;
          }

          i {
            @include custom-i;
            // font-size: 9.5px;
            // margin: 0 0 0 9px;
            color: inherit;
          }

        }

      }

    }
    // End Header Top

    // Header Bottom
    #bottom {
      border-top: 1px solid #EAEAEA;

      &-wrap {
        @include W-1169-container;
        @include flex-column-between;
        height: 106px;

        #brand-logotype {
          cursor: pointer;
        }

        &-left {
          @include flex-column-between;
          width: 160px;
          height: 100%;
          // border: 1px solid black;
        }

        &-right {
          @include flex-column-between;
          font-size: $minor-font;
          color: black;
          width: 806px;
          height: 100%;
          // border: 1px solid black;
          position: relative;

          ul {
            @include flex-column-between;

            div {
              height: 106px;
              line-height: 106px;

              li {
                display: inline-block;
                margin-right: 40px;
                position: relative;
                cursor: pointer;
                font-weight: 300;

                .upper-line {
                  height: 3px;
                  width: 100%;
                  display: none;
                  background-color: $Havelock-blue;
                  position: absolute;
                  top: 0;
                }

                i {
                  @include custom-i;
                  // font-size: 9.5px;
                  // margin: 0 0 0 9px;
                }

                &:hover .upper-line{
                  display: block;
                }

                &:hover {
                  color: $Havelock-blue;
                }

                &:last-child {
                  list-style-type: none
                }

              }

            }

            button {
              @include button-basis;
              width: 122px;
              height: 37px;
              background-color: $Havelock-blue;
              border: none;

              &:hover {
                background-color: $Havelock-blue-hover;
              }

            }

          }

          .fas.fa-search {
            position: absolute;
            right: 0;
            cursor: pointer;

            &:hover {
              color: $Havelock-blue;
            }

          }

        }

      }

    }
    // End Header Bottom

    // Jumbotron
    #jumbotron {
      background-image: url($jumbotron-image);
      background-size: cover;
      background-position: center;
      height: 652px;
      width: 100%;
      display: flex;
      // border: 1px solid black;

      &-heading {
        color: white;
        margin: auto;

        h2 {
          font-size: 80px;
          font-weight: 700px;
        }

        h3 {
          font-size: 24px;
          font-weight: 400;
          text-align: center;
        }

        &-button {
          display: flex;
          justify-content: center;
          align-items: center;

          button {
            @include button-basis;
            width: 170px;
            height: 59px;
            background-color: #FFFFFF1D;
            border: 2px solid white;
            font-size: 18px;
            margin: 35px 8.5px;

            &:hover {
              background-color: transparent;
            }

          }

        }

      }

    }
    // End Jumbotron

  }
  // End HEADER

  //MAIN
  main {

    #main-featured-products, #main-best-seller, #main-new-arrivals, #main-from-blog {
      @include W-1169-container;
      height: 1034px;
      // border: 1px solid black;

      &-top, #main-best-seller-top, #main-new-arrivals-top, #main-from-blog-top {
        height: 258px;
        position: relative;

        .behind {
          height: 50%;
          width: 100%;
          border-bottom: 1px solid #EAEAEA;
        }

        .center {
          height: 100%;
          padding: 45px;
          font-size: 38px;
          position: absolute;
          left: 50%;
          top: 0;
          transform: translate(-50%);
          background-color: white;
          display: flex;

          div {
            margin: auto;
            font-weight: 700;
          }

        }

        p {
          font-family: $secondary-font;
          font-weight: 400;
          font-size: 18px;
          position: absolute;
          top: 65%;
          text-align: center;
          width: 100%;
        }

      }

      &-make-choose {
        // width: 393px;
        display: flex;
        flex-direction: row;
        justify-content: center;

        div {
          height: 55.6px;
          padding: 14px 55px;
          border: 1px solid #eaeaea;
          background-color: #f6f6f6;
          font-weight: 700;
          font-size: 15px;
          line-height: 1.73;

          &:hover {
            background-color: transparent;
          }

        }

      }

      &-items {
        display: flex;

        .single-item {
          width: calc(100% / 4);
          margin-top: 55px;
          // border: 1px solid red;

          img {
            width: 285px;
            margin-bottom: 15px;
          }

          .elName {
            font-family: $primary-font;
            font-weight: 700;
            font-size: 15px;
            cursor: pointer;

            &:hover {
              color: $Havelock-blue;
            }

          }

          .elTag {
            font-family: $secondary-font;
            font-size: $minor-font;

            a {
              text-decoration: none;
              color: black;
              line-height: 3;

              &:hover {
                color: $Havelock-blue;
              }

            }

          }

          .elCost, .elDiscount {
            color: $Havelock-blue;
          }

        }

      }

    }

    #main-best-seller, #main-from-blog {
      height: 718px;
    }

    #main-new-arrivals {
      height: 922px;
    }

    #collection {
      @include flex-column;

      .single-item {
        height: 535.43px;
        width: calc(100% / 3);
        position: relative;
        // border: 1px solid red;
        overflow: hidden;

        img {
          width: 100%;
          // vertical-align: middle;
        }

        .content {
          position: absolute;
          top: 73%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          text-align: center;

          .elName {

            h2 {
              font-family: $primary-font;
              font-size: 38px;
              color: white;
              font-weight: 700;
              margin-bottom: 20px;
            }

          }

          .elDescription {
            margin: 0 0 20px;
            font-family: $secondary-font;
            font-size: 18px;
            letter-spacing: 3px;
            color: white;
          }

          button {
            @include button-basis;
            padding: 11px 23px;
            border: 2px solid white;
            background-color: #FFFFFF1D;

            &:hover {
              background-color: transparent;
            }

          }

        }

      }

    }

  }
  //End MAIN


  //FOOTER
  footer {
    font-family: $secondary-font;
    font-size: 15px;
    font-weight: 400;

    .stripe-a {
      @include H-o-482-container;
      background-color: #2b2e32;

      &-wrap {
        @include flex-column;
        @include W-1169-container;
        height: 100%;

        &-box {
          width: calc(100% / 4);
          height: 100%;
          // border: 1px solid white;
          color: white;
          padding-top: 74px;

          .title {
            margin: 0 0 43px 0;
            padding-left: 8px;
            width: 100%;

            &.post {
              position: relative;
              left: 8px;
            }

            &.tag {
              position: relative;
              left: -6px;
            }

          }

          #logo-footer {

            img {
              width: 160px;
              margin: 13px 0 58px;
            }

          }

          #contact {
            line-height: 1.87;
          }

          #social-icon-footer {
            @include flex-column-between;
            width: 116px;
            height: 106px;
            color: white;
            cursor: pointer;

            i {
              font-size: 16px;

              &:hover {
                color: $Edward;
              }

            }

          }

          div.central {
            line-height: 1.87;
            padding-bottom: 10px;
            margin: 0 8px 10px 8px;
            border-bottom: 1px solid #35383c;
            position: relative;

            span#product-name {
              cursor: pointer;
            }


            i {
              color: $Havelock-blue;

              &.fas.fa-chevron-right {
                @include custom-i;
                color: white;
                margin-right: 7px;
              }

            }

            img {
              width: 58px;
              position: absolute;
              top: 0;
              right: 0;
              cursor: pointer;
            }

          }

          &:last-child {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            flex-direction: row;
            align-content: flex-start;
            padding-left: 28px;
            padding-right: 8px;

            #tag {
              border: 1px solid #35383c;
              height: 30.8px;
              line-height: 30.8px;
              padding: 0 10px;
              font-size: 0.9em;
              margin: 2px;
              cursor: pointer;

              &:hover {
                background-color: $Havelock-blue;
              }

            }

          }

          #recent-post:hover {
            color: $Havelock-blue;
            cursor: pointer;

            i {
              color: $Havelock-blue;
            }

          }

        }

      }

    }

    .stripe-b {
      height: 121px;
      background-color: #1d1f22;
      display: flex;
      justify-content: center;

      &-wrap {
        width: 663px;
        // border: 1px solid white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &-top {
          @include flex-column-between;

          #copyright {
            height: 15px;
            color: white;
            font-family: $secondary-font;
            font-size: $minor-font;
            border-right: 1px solid white;
            padding: 0 11px;

            &:last-child {
              border: none;
            }

          }

        }

        &-bottom {
          width: 100%;
          text-align: center;
          margin-top: 18px;
        }

      }

    }


  }
  //End FOOTER


}
// END CONTENITORE di TUTTO
