//Social Icons
$Nevada: #64686c;
$Edward: #a0a5a5;
//END Social Icons

//CART
$Shark: #2f3034;

//RGB(66,126,213)
$Havelock-blue: #427ed5;
//Hover RGB(76,139,224)
// $Havelock-blue-hover: #4c8be0;
$Havelock-blue-hover:  #333333;

//RGB(51,51,51)
// $Havelock-blue: #333333;
//Hover RGB(61,64,62)
// $Havelock-blue-hover: #3d403e;
