@mixin H-f-718-container {
  width: 718px;
}

@mixin H-o-482-container {
  height: 482px;
}

@mixin W-1169-container {
  width: 1169px;
  // border: 1px solid black;
  margin: auto;
}

@mixin flex-column-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: row;
}
